// Import bootstrap specific stuff

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss";

// Import variables & font-faces
@import "variables.scss";
@import "font-faces.scss";
@import "components.scss";

// Import page specific styles
@import "pages/_home.scss";

// Import partials specific styles
@import "partials/_nav.scss";

html, body{
  margin: 0;
  padding: 0;
  color: $font-color;
  font-family: Gotham;
}

header{
  background: $light-gray;
  // height: 175px;
  width: 100%;
  
  .header-call-to-action{
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;

    .row{
      flex: 1;
    }
    span{
      font-family: Gotham;
      font-weight: bold;
      color: $maroon;
      display: block;
    }
  }
}

section.content-wrapper{
  
}