nav{
  background-color: $dark-gray;
  height: 76px;

  ul.nav{
    display: flex;
    height: 75px;

    li{
      flex: 1;

      &.active{
        a{
          text-decoration: underline;
        }
      }

      a{
        text-align: center;
        color: $maroon;
        font-family: Gotham;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        padding: 30px 0;
      }
    }
  }
}